@font-face {
  font-family: 'THSarabun1';
  src: url("../fonts/THSarabun1.woff");
}
/* line 6, ../sass/_custom.scss */
body {
  font-family: 'THSarabun1' !important;
  font-weight: 600;
  color: #58585B !important;
  font-size: 18px;
}
.form-control,.btn,button, input, optgroup, select, textarea{
  font-size: 1.25rem;
}
/* line 13, ../sass/_custom.scss */
body a:hover {
  text-decoration: none;
}
/* line 18, ../sass/_custom.scss */
body .img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* line 26, ../sass/_custom.scss */
header .NavBar {
  display: inline-flex;
  padding-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  /* line 26, ../sass/_custom.scss */
  header .NavBar {
    display: block;
  }
}
/* line 34, ../sass/_custom.scss */
header .NavBar .BoxLeft {
  width: 30%;
  padding: 2vh;
}
@media only screen and (max-width: 768px) {
  /* line 34, ../sass/_custom.scss */
  header .NavBar .BoxLeft {
    width: 100%;
    padding: 1vh;
  }
  /* line 42, ../sass/_custom.scss */
  header .NavBar .BoxLeft img {
    width: 100%;
    max-width: 220px;
  }
}
/* line 49, ../sass/_custom.scss */
header .NavBar .BoxRight {
  width: 70%;
  padding: 2vh;
  padding-top: 4vh;
}
@media only screen and (max-width: 768px) {
  /* line 49, ../sass/_custom.scss */
  header .NavBar .BoxRight {
    width: 100%;
    padding-top: 2vh;
  }
}
/* line 59, ../sass/_custom.scss */
header .NavBar .BoxRight .coll {
  width: 25%;
  float: left;
  padding: 5px;
}
@media only screen and (max-width: 992px) {
  /* line 59, ../sass/_custom.scss */
  header .NavBar .BoxRight .coll {
    width: 33.33%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 59, ../sass/_custom.scss */
  header .NavBar .BoxRight .coll {
    width: 33.33%;
  }
}
@media only screen and (max-width: 420px) {
  /* line 59, ../sass/_custom.scss */
  header .NavBar .BoxRight .coll {
    width: 50%;
  }
}
/* line 75, ../sass/_custom.scss */
header .NavBar .BoxRight .blog {
  position: relative;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: #58585B;
  background-image: linear-gradient(#FEFEFE, #CED0D1);
  border: 1.2px solid #7F8183;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  /* line 75, ../sass/_custom.scss */
  header .NavBar .BoxRight .blog {
    font-size: 17px;
  }
}
/* line 90, ../sass/_custom.scss */
header .NavBar .BoxRight .blog:hover {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#FEFEFE, #B9C4E4);
}
/* line 95, ../sass/_custom.scss */
header .NavBar .BoxRight .blog .img {
  float: left;
  margin-top: -5px;
  margin-left: -5px;
}
@media only screen and (max-width: 768px) {
  /* line 95, ../sass/_custom.scss */
  header .NavBar .BoxRight .blog .img {
    float: unset;
  }
}
/* line 104, ../sass/_custom.scss */
header .NavBar .BoxRight .blog .img img {
  background: white;
  padding: 3px;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}
@media only screen and (max-width: 768px) {
  /* line 114, ../sass/_custom.scss */
  header .NavBar .BoxRight .blog span {
    line-height: 1;
  }
}

/* line 125, ../sass/_custom.scss */
footer a {
  color: RGB(88, 88, 91);
}
/* line 128, ../sass/_custom.scss */
footer .footer {
  float: left;
  width: 100%;
  background-image: linear-gradient(#FEFEFE, #A3A5A7);
  border-top: 2px solid #B8BABC;
}
/* line 134, ../sass/_custom.scss */
footer .footer .blog {
  width: 20%;
  float: left;
  padding: 15px;
  border: 1px solid #7F8183;
  min-height: 100px;
}
@media only screen and (max-width: 768px) {
  /* line 134, ../sass/_custom.scss */
  footer .footer .blog {
    width: 100%;
    border: 0.1px solid rgba(127, 129, 131, 0.18);
    min-height: auto;
  }
}
/* line 147, ../sass/_custom.scss */
footer .footer .blog .img {
  width: 20%;
  float: left;
  padding-right: 8px;
}
/* line 152, ../sass/_custom.scss */
footer .footer .blog .img img {
  max-width: 40px;
  object-fit: contain;
}
/* line 158, ../sass/_custom.scss */
footer .footer .blog .text {
  width: 80%;
  float: left;
  line-height: 0.5;
}
/* line 163, ../sass/_custom.scss */
footer .footer .blog .text h1 {
  font-size: 28px;
  margin: 0;
}
/* line 168, ../sass/_custom.scss */
footer .footer .blog .text p {
  margin: 0;
  line-height: 1;
}
/* line 176, ../sass/_custom.scss */
footer .copyrigth {
  background: #636970;
  padding: 12px;
  color: white;
  text-align: center;
  float: left;
  width: 100%;
}
/* line 184, ../sass/_custom.scss */
footer .copyrigth p {
  margin: 0;
}

/* line 190, ../sass/_custom.scss */
.ContatcSocial {
  text-align: center;
  margin: 15px 0;
}
/* line 194, ../sass/_custom.scss */
.ContatcSocial .blog {
  display: inline-flex;
  background-image: linear-gradient(#fff, #A3A5A7);
  padding: 5px;
  border: 1px solid silver;
  margin: -2px;
}
@media only screen and (max-width: 768px) {
  /* line 194, ../sass/_custom.scss */
  .ContatcSocial .blog {
    margin-top: 5px;
  }
}
/* line 203, ../sass/_custom.scss */
.ContatcSocial .blog .img {
  padding: 1px 8px;
}
@media only screen and (max-width: 768px) {
  /* line 203, ../sass/_custom.scss */
  .ContatcSocial .blog .img {
    padding: 1px 1px;
  }
}
/* line 209, ../sass/_custom.scss */
.ContatcSocial .blog .img img {
  width: 45px;
}
@media only screen and (max-width: 768px) {
  /* line 209, ../sass/_custom.scss */
  .ContatcSocial .blog .img img {
    width: 20px;
  }
}
/* line 217, ../sass/_custom.scss */
.ContatcSocial .blog .text {
  padding: 0 5px;
  font-size: 25px;
  margin-top: 5px;
  color: #58585B;
}
@media only screen and (max-width: 768px) {
  /* line 217, ../sass/_custom.scss */
  .ContatcSocial .blog .text {
    font-size: 15px;
  }
}

/* line 229, ../sass/_custom.scss */
.BtnCustom {
  width: auto;
  display: ruby-text;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: RGB(88, 88, 91);
  background-image: linear-gradient(RGB(254, 254, 254), #F2B242);
  font-size: 26px;
}
/* line 240, ../sass/_custom.scss */
.BtnCustom:hover {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(RGB(254, 254, 254), #F2B242);
}
/* line 245, ../sass/_custom.scss */
.BtnCustom.gray {
  background-image: linear-gradient(#FEFEFE, #CED0D1);
}
/* line 248, ../sass/_custom.scss */
.BtnCustom.gray:hover {
  background-image: linear-gradient(#CED0D1, #FEFEFE);
}
/* line 253, ../sass/_custom.scss */
.BtnCustom img {
  float: left;
  margin-top: -2px;
  margin-left: -2px;
  width: 45px;
  height: 40px;
  object-fit: contain;
  background: white;
  padding: 5px;
  border-radius: 8px;
  margin-right: 8px;
}

/* line 4, ../sass/_home.scss */
.SectionHome .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  background: #5A5E61;
  color: white;
  height: 45px;
  width: 45px;
  font-size: 40px;
}
/* line 14, ../sass/_home.scss */
.SectionHome .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 45%;
  background: #5A5E61;
  color: white;
  height: 45px;
  width: 45px;
  font-size: 40px;
}
/* line 26, ../sass/_home.scss */
.SectionHome .owl-carousel .owl-dots {
  display: none;
}
/* line 31, ../sass/_home.scss */
.SectionHome .MenuSite {
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 35, ../sass/_home.scss */
.SectionHome .MenuSite .box {
  max-width: 350px;
  padding: 15px 0;
}
/* line 39, ../sass/_home.scss */
.SectionHome .MenuSite .box .blog {
  position: relative;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: #58585B;
  background-image: linear-gradient(#FEFEFE, #CED0D1);
  font-size: 25px;
}
/* line 51, ../sass/_home.scss */
.SectionHome .MenuSite .box .blog:hover {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#FEFEFE, #B9C4E4);
}
/* line 56, ../sass/_home.scss */
.SectionHome .MenuSite .box .blog img {
  float: left;
  margin-top: -2px;
  margin-left: -2px;
  width: 45px;
  height: 40px;
  object-fit: contain;
  background: white;
  padding: 5px;
  border-radius: 8px;
  margin-right: 8px;
}

/* line 3, ../sass/_product.scss */
.SectionProduct .SubCatgory {
  background: #F2B242;
  padding: 5px 3%;
}
/* line 8, ../sass/_product.scss */
.SectionProduct .SubCatgory .box .s1 {
  font-size: 25px !important;
}
@media only screen and (max-width: 768px) {
  /* line 7, ../sass/_product.scss */
  .SectionProduct .SubCatgory .box {
    padding-left: 10px;
  }
}
/* line 14, ../sass/_product.scss */
.SectionProduct .SubCatgory .box span {
  color: #000;
  font-size: 19px;
  margin-right: 8px;
}
/* line 20, ../sass/_product.scss */
.SectionProduct .SubCatgory .box span.s2:before {
  content: ">";
  margin-right: 8px;
}
/* line 30, ../sass/_product.scss */
.SectionProduct .MenuSite.box {
  max-width: 100%;
  padding: 18px 0;
}
/* line 34, ../sass/_product.scss */
.SectionProduct .MenuSite.box .blog {
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: #58585B;
  background-image: linear-gradient(#FEFEFE, #CED0D1);
  font-size: 25px;
}

.SectionProduct .MenuSite.box a.active .blog{
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  color: #FF9800;
  background-image: linear-gradient(#FEFEFE, #B9C4E4);
}
/* line 45, ../sass/_product.scss */
.SectionProduct .MenuSite.box .blog:hover {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#FEFEFE, #B9C4E4);
}
/* line 50, ../sass/_product.scss */
.SectionProduct .MenuSite.box .blog img {
  float: left;
  margin-top: -2px;
  margin-left: -2px;
  width: 45px;
  height: 40px;
  object-fit: contain;
  background: white;
  padding: 5px;
  border-radius: 8px;
  margin-right: 8px;
}
/* line 67, ../sass/_product.scss */
.SectionProduct #SubMenuSite {
  padding-left: 15%;
}
/* line 70, ../sass/_product.scss */
.SectionProduct #SubMenuSite .blog {
  min-height: 46px;
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: #58585B;
  background-image: linear-gradient(#FEFEFE, #CED0D1);
  font-size: 20px;
  line-height: 1;
}
/* line 83, ../sass/_product.scss */
.SectionProduct #SubMenuSite .blog:hover {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#FEFEFE, #B9C4E4);
}
.SectionProduct #SubMenuSite a.active .blog {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: #FF9800;
  background-image: linear-gradient(#FEFEFE, #B9C4E4);
}
/* line 88, ../sass/_product.scss */
.SectionProduct #SubMenuSite .blog img {
  float: left;
  margin-top: -2px;
  margin-left: -2px;
  width: 45px;
  height: 40px;
  object-fit: contain;
  background: white;
  padding: 5px;
  border-radius: 8px;
  margin-right: 8px;
}
.SectionProduct #SubMenuSite .blog img.new {
  width: 45px;
  height: 45px;
  object-fit: contain;
  background: unset;
  padding: 5px;
  border-radius: 8px;
  margin-right: 8px;
  position: absolute;
  right: -33px;
  top: -10px;
}
img.img-fluid.new-product {
  width: 80px;
  position: absolute;
}
img.img-fluid.new-product-detail {
  width: 80px;
  position: absolute;
  right: 0;
}
/* line 103, ../sass/_product.scss */
.SectionProduct .ProductList {
  float: left;
  margin: 18px 0;
}
@media only screen and (max-width: 768px) {
  /* line 108, ../sass/_product.scss */
  .SectionProduct .ProductList .text-edit img {
    width: 100% !important;
  }
  .SectionProduct .ProductList .text-edit img.new-product-detail {
    width: 50px !important;
  }
}
/* line 115, ../sass/_product.scss */
.SectionProduct .ProductList .box {
  width: 33%;
  float: left;
  border: 1px solid #f2b242;
}
@media only screen and (max-width: 768px) {
  /* line 115, ../sass/_product.scss */
  .SectionProduct .ProductList .box {
    width: 100%;
  }
}
/* line 123, ../sass/_product.scss */
.SectionProduct .ProductList .box .img {
  text-align: center;
  padding: 15px;
}
/* line 127, ../sass/_product.scss */
.SectionProduct .ProductList .box .img img {
  height: 300px;
  object-fit: contain;
}
@media only screen and (max-width: 768px) {
  /* line 127, ../sass/_product.scss */
  .SectionProduct .ProductList .box .img img {
    height: 125px;
  }
}
/* line 137, ../sass/_product.scss */
.SectionProduct .ProductList .box .text {
  position: relative;
  padding: 10px;
  color: #000;
  background-image: linear-gradient(#FEFEFE, #FF9800);
  min-height: 75px;
}
@media only screen and (max-width: 768px) {
  /* line 137, ../sass/_product.scss */
  .SectionProduct .ProductList .box .text {
    height: auto;
    float: right;
    width: 100%;
  }
}
/* line 149, ../sass/_product.scss */
.SectionProduct .ProductList .box .text p {
  margin: 0;
}
/* line 153, ../sass/_product.scss */
.SectionProduct .ProductList .box .text img {
  float: right;
  width: 35px;
  position: absolute;
  top: 25px;
  right: 8px;
}
@media only screen and (max-width: 768px) {
  /* line 153, ../sass/_product.scss */
  .SectionProduct .ProductList .box .text img {
    position: relative;
    top: 0;
  }
}
/* line 168, ../sass/_product.scss */
.SectionProduct .ProductList .AllButton {
  text-align: right;
  margin-top: 15px;
}
/* line 172, ../sass/_product.scss */
.SectionProduct .ProductList .AllButton .blog {
  display: inline-grid;
  text-align: center;
  width: 245px;
  padding: 18px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: RGB(88, 88, 91);
  background-image: linear-gradient(RGB(254, 254, 254), RGB(206, 208, 209));
  font-size: 30px;
  line-height: 1;
  position: relative;
}
@media only screen and (max-width: 768px) {
  /* line 172, ../sass/_product.scss */
  .SectionProduct .ProductList .AllButton .blog {
    width: 120px;
    font-size: 15px;
  }
}
/* line 192, ../sass/_product.scss */
.SectionProduct .ProductList .AllButton .blog.download {
  background-image: linear-gradient(RGB(254, 254, 254), #F2B242);
}
/* line 196, ../sass/_product.scss */
.SectionProduct .ProductList .AllButton .blog:hover {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#FEFEFE, #B9C4E4);
}
/* line 201, ../sass/_product.scss */
.SectionProduct .ProductList .AllButton .blog img {
  position: absolute;
  left: 8px;
  top: 14px;
  width: 38px;
  object-fit: contain;
  padding: 5px;
  margin-right: 8px;
}
@media only screen and (max-width: 768px) {
  /* line 201, ../sass/_product.scss */
  .SectionProduct .ProductList .AllButton .blog img {
    width: 25px;
    left: 0px;
    top: 12px;
  }
}
/* line 217, ../sass/_product.scss */
.SectionProduct .ProductList .AllButton .img {
  width: 40px;
  margin-top: -1%;
}

/* line 2, ../sass/_about.scss */
.SectionAbout .banner {
  position: relative;
}
/* line 4, ../sass/_about.scss */
.SectionAbout .banner .setting {
  padding: 8%;
  margin-top: -15%;
  padding-bottom: 4%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  /* line 10, ../sass/_about.scss */
  .SectionAbout .banner .text-edit {
    height: 100%;
  }
}
/* line 17, ../sass/_about.scss */
.SectionAbout .content {
  padding-right: 8%;
  padding-left: 8%;
  margin-bottom: 5%;
}
/* line 21, ../sass/_about.scss */
.SectionAbout .content h1, .SectionAbout .content h2 {
  color: #EF9727;
}
/* line 24, ../sass/_about.scss */
.SectionAbout .content p {
  font-size: 23px;
  margin: 0;
}
/* line 29, ../sass/_about.scss */
.SectionAbout .content .group {
  padding: 2% 5%;
}
@media only screen and (max-width: 768px) {
  /* line 29, ../sass/_about.scss */
  .SectionAbout .content .group {
    padding: 2% 0;
  }
}

/* line 2, ../sass/_catalog.scss */
.SectionCatalog .SubCatgory {
  background: #A4A5A9;
  padding: 5px 3%;
}
/* line 7, ../sass/_catalog.scss */
.SectionCatalog .SubCatgory .box .s1 {
  font-size: 25px !important;
}
/* line 11, ../sass/_catalog.scss */
.SectionCatalog .SubCatgory .box span {
  color: #fff;
  font-size: 19px;
  margin-right: 8px;
}
/* line 20, ../sass/_catalog.scss */
.SectionCatalog .MenuSite.box {
  max-width: 100%;
  padding: 18px 0;
}
/* line 24, ../sass/_catalog.scss */
.SectionCatalog .MenuSite.box .blog {
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: #58585B;
  background-image: linear-gradient(#FEFEFE, #CED0D1);
  font-size: 25px;
}
/* line 35, ../sass/_catalog.scss */
.SectionCatalog .MenuSite.box .blog:hover {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#FEFEFE, #B9C4E4);
}
/* line 40, ../sass/_catalog.scss */
.SectionCatalog .MenuSite.box .blog img {
  float: left;
  margin-top: -2px;
  margin-left: -2px;
  width: 45px;
  height: 40px;
  object-fit: contain;
  background: white;
  padding: 5px;
  border-radius: 8px;
  margin-right: 8px;
}
/* line 57, ../sass/_catalog.scss */
.SectionCatalog .banner {
  position: relative;
}
/* line 60, ../sass/_catalog.scss */
.SectionCatalog .banner .download {
  position: absolute;
  top: 40%;
  right: 30%;
  text-align: center;
}

/* line 3, ../sass/_joinus.scss */
.SectionJoinus .banner .BannerContent {
  position: relative;
  width: 100%;
  text-align: center;
}
/* line 8, ../sass/_joinus.scss */
.SectionJoinus .banner .BannerContent .text {
  color: #fff;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.09846) 3%, rgba(0, 0, 0, 0.6) 21%, rgba(0, 0, 0, 0.6) 48%, rgba(0, 0, 0, 0.6) 77%, rgba(0, 0, 0, 0.08725) 94%);
  max-width: 550px;
  position: absolute;
  width: 100%;
  top: 30%;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  /* line 8, ../sass/_joinus.scss */
  .SectionJoinus .banner .BannerContent .text {
    background: #5d5d5d !important;
    position: relative;
    top: 0;
    max-width: 100%;
  }
}
/* line 25, ../sass/_joinus.scss */
.SectionJoinus .banner .selects {
  text-align: center;
  padding: 15px;
  background-image: linear-gradient(#FEFEFE, #CED0D1);
  margin: 15px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
  border-radius: 5px;
}
/* line 33, ../sass/_joinus.scss */
.SectionJoinus .banner .selects:hover {
  background-image: linear-gradient(#CED0D1, #FEFEFE);
}
/* line 36, ../sass/_joinus.scss */
.SectionJoinus .banner .selects img {
  height: 210px;
  object-fit: contain;
}
@media only screen and (max-width: 768px) {
  /* line 36, ../sass/_joinus.scss */
  .SectionJoinus .banner .selects img {
    height: 90px;
  }
}
/* line 43, ../sass/_joinus.scss */
.SectionJoinus .banner .selects span {
  color: #000;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  /* line 48, ../sass/_joinus.scss */
  .SectionJoinus .banner .text-edit {
    height: 100%;
  }
}

/* line 3, ../sass/_quotation.scss */
.SectionQuotation form .label {
  font-size: 22px;
  text-align: right;
}
/* line 7, ../sass/_quotation.scss */
.SectionQuotation form button {
  font-size: 22px;
  border: 1px solid #58585B;
  border-radius: 0px;
  color: #58585B;
}

/* line 1, ../sass/_facebook.scss */
.SectionFacebook {
  position: relative;
}
/* line 4, ../sass/_facebook.scss */
.SectionFacebook .facebook {
  position: absolute;
  top: 92%;
  right: 50%;
  transform: translate(50%, -50%);
}
@media only screen and (max-width: 768px) {
  /* line 4, ../sass/_facebook.scss */
  .SectionFacebook .facebook {
    width: 95%;
    text-align: center;
  }
}
/* line 15, ../sass/_facebook.scss */
.SectionFacebook .facebook i {
  font-size: 45px;
  position: relative;
  top: 12px;
  left: -5px;
  color: #5466B0;
}
@media only screen and (max-width: 768px) {
  /* line 15, ../sass/_facebook.scss */
  .SectionFacebook .facebook i {
    font-size: 35px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 26, ../sass/_facebook.scss */
  .SectionFacebook .facebook span {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 33, ../sass/_facebook.scss */
  .SectionFacebook .text-edit {
    height: 100%;
  }
}
