.SectionAbout {
    .banner {
        position: relative;
        .setting {
            padding: 8%;
            margin-top: -15%;
            padding-bottom: 4%;
            width: 100%;
        }
        .text-edit {
            @media only screen and (max-width: 768px) {
                height: 100%;
            }
        }
    }

    .content {
        padding-right: 8%;
        padding-left: 8%;
        margin-bottom: 5%;
        h1 , h2 {
            color: #EF9727;
        }
        p {
            // text-indent: 50px;
            font-size: 23px;
            margin: 0;
        }
        .group {
            padding: 2% 5%;
            @media only screen and (max-width: 768px) {
                padding: 2% 0;
			}
        }
    }
}