.SectionCatalog {
    .SubCatgory {
		background: #A4A5A9;
		padding: 5px 3%;

		.box {
			.s1 {
				font-size: 25px !important;
			}

			span {
				color: #fff;
				font-size: 19px;
				margin-right: 8px;
			}
		}
	}

	.MenuSite {
		&.box {
			max-width: 100%;
			padding: 18px 0;

			.blog {
				position: relative;
				padding: 5px;
				margin-bottom: 10px;
				border-radius: 10px;
				box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
				color: #58585B;
				background-image: linear-gradient(#FEFEFE, #CED0D1);
				// border: 1.2px solid #7F8183;
				font-size: 25px;

				&:hover {
					box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
					background-image: linear-gradient(#FEFEFE, #B9C4E4);
				}

				img {
					float: left;
					margin-top: -2px;
					margin-left: -2px;
					width: 45px;
					height: 40px;
					object-fit: contain;
					background: rgb(255, 255, 255);
					padding: 5px;
					border-radius: 8px;
					margin-right: 8px;
				}
			}

		}
	}

	.banner {
		position: relative;

		.download {
			position: absolute;
			top: 40%;
            right: 30%;
            text-align: center;

		}
	}
}
