@font-face {
	font-family: 'THSarabun1';
	src: url("../fonts/THSarabun1.woff");
}

body {
	font-family: 'THSarabun1' !important;
	font-weight: 600;
	color: #58585B !important;
	font-size: 18px;

	a {
		&:hover {
			text-decoration: none;
		}
	}

	.img-fluid {
		max-width: 100%;
		height: auto;
		width: 100%;
	}
}

header {
	.NavBar {
		display: inline-flex;
		padding-bottom: 15px;

		@media only screen and (max-width: 768px) {
			display: block;
		}

		.BoxLeft {
			width: 30%;
			padding: 2vh;

			@media only screen and (max-width: 768px) {
				width: 100%;
				padding: 1vh;

				img {
					width: 100%;
					max-width: 220px;
				}
			}
		}

		.BoxRight {
			width: 70%;
			padding: 2vh;
			padding-top: 4vh;

			@media only screen and (max-width: 768px) {
				width: 100%;
				padding-top: 2vh;
			}

			.coll {
				width: 25%;
				float: left;
				padding: 5px;

				@media only screen and (max-width: 992px) {
					width: 33.33%;
				}
				@media only screen and (max-width: 768px) {
					width: 33.33%;
				}
				@media only screen and (max-width: 420px) {
					width: 50%;
				}
			}

			.blog {
				position: relative;
				text-align: center;
				padding: 8px;
				border-radius: 10px;
				box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
				color: #58585B;
				background-image: linear-gradient(#FEFEFE, #CED0D1);
				border: 1.2px solid #7F8183;
				font-size: 20px;

				@media only screen and (max-width: 768px) {
					font-size: 17px;
				}

				&:hover {
					box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
					background-image: linear-gradient(#FEFEFE, #B9C4E4);
				}

				.img {
					float: left;
					margin-top: -5px;
					margin-left: -5px;

					@media only screen and (max-width: 768px) {
						float: unset;
					}

					img {
						background: rgb(255, 255, 255);
						padding: 3px;
						border-radius: 8px;
						width: 40px;
						height: 40px;
						object-fit: contain;
					}
				}

				span {
					@media only screen and (max-width: 768px) {
						line-height: 1;
					}
				}
			}
		}
	}
}

footer {
	a {
		color: RGB(88, 88, 91);
	}
	.footer {
		float: left;
		width: 100%;
		background-image: linear-gradient(#FEFEFE, #A3A5A7);
		border-top: 2px solid #B8BABC;

		.blog {
			width: 20%;
			float: left;
			padding: 15px;
			border: 1px solid #7F8183;
			min-height: 100px;

			@media only screen and (max-width: 768px) {
				width: 100%;
				border: 0.1px solid rgba(127, 129, 131, 0.18);
				min-height: auto;
			}

			.img {
				width: 20%;
				float: left;
				padding-right: 8px;

				img {
					max-width: 40px;
					object-fit: contain;
				}
			}

			.text {
				width: 80%;
				float: left;
				line-height: 0.5;

				h1 {
					font-size: 28px;
					margin: 0;
				}

				p {
					margin: 0;
					line-height: 1;
				}
			}
		}
	}

	.copyrigth {
		background: #636970;
		padding: 12px;
		color: rgb(255, 255, 255);
		text-align: center;
		float: left;
		width: 100%;

		p {
			margin: 0;
		}
	}
}

.ContatcSocial {
	text-align: center;
	margin: 15px 0;

	.blog {
		display: inline-flex;
		background-image: linear-gradient(#fff, #A3A5A7);
		padding: 5px;
		border: 1px solid rgb(192, 192, 192);
		margin: -2px;
		@media only screen and (max-width: 768px) {
			margin-top: 5px;
		}
		.img {
			padding: 1px 8px;
			@media only screen and (max-width: 768px) {
				padding: 1px 1px;
			}

			img {
				width: 45px;
				@media only screen and (max-width: 768px) {
					width: 20px;
				}
			}
		}

		.text {
			padding: 0 5px;
			font-size: 25px;
			margin-top: 5px;
			color: #58585B;
			@media only screen and (max-width: 768px) {
				font-size: 15px;
			}
		}
	}
}

.BtnCustom {
	width: auto;
	display: ruby-text;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	color: RGB(88, 88, 91);
	background-image: linear-gradient(RGB(254, 254, 254), #F2B242);
	font-size: 26px;

	&:hover {
		box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
		background-image: linear-gradient(RGB(254, 254, 254), #F2B242);
	}

	&.gray {
		background-image: linear-gradient(#FEFEFE, #CED0D1);

		&:hover {
			background-image: linear-gradient(#CED0D1, #FEFEFE);
		}
	}

	img {
		float: left;
		margin-top: -2px;
		margin-left: -2px;
		width: 45px;
		height: 40px;
		object-fit: contain;
		background: rgb(255, 255, 255);
		padding: 5px;
		border-radius: 8px;
		margin-right: 8px;
	}
}
