.SectionFacebook {
	position: relative;

	.facebook {
		position: absolute;
		top: 92%;
		right: 50%;
		transform: translate(50%, -50%);

		@media only screen and (max-width: 768px) {
			width: 95%;
			text-align: center
		}

		i {
			font-size: 45px;
			position: relative;
			top: 12px;
			left: -5px;
			color: #5466B0;
			@media only screen and (max-width: 768px) {
				font-size: 35px;
			}

		}
		span {
			@media only screen and (max-width: 768px) {
				font-size: 20px;
			}
		}
	}

	.text-edit {
		@media only screen and (max-width: 768px) {
			height: 100%;
		}
	}
}
