.SectionHome {
	.owl-carousel {
		.owl-nav {
			.owl-prev {
				position: absolute;
				top: 45%;
				background: #5A5E61;
				color: rgb(255, 255, 255);
				height: 45px;
				width: 45px;
				font-size: 40px;
			}

			.owl-next {
				position: absolute;
				right: 0;
				top: 45%;
				background: #5A5E61;
				color: rgb(255, 255, 255);
				height: 45px;
				width: 45px;
				font-size: 40px;
			}
		}

		.owl-dots {
			display: none;
		}
	}

	.MenuSite {
		background-repeat: no-repeat;
		background-size: cover;

		.box {
			max-width: 250px;
			padding: 15px 0;

			.blog {
				position: relative;
				padding: 5px;
				margin-bottom: 8px;
				border-radius: 10px;
				box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
				color: #58585B;
				background-image: linear-gradient(#FEFEFE, #CED0D1);
				// border: 1.2px solid #7F8183;
				font-size: 25px;
				

				&:hover {
					box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
					background-image: linear-gradient(#FEFEFE, #B9C4E4);
				}

				img {
					float: left;
					margin-top: -2px;
					margin-left: -2px;
					width: 45px;
					height: 40px;
					object-fit: contain;
					background: rgb(255, 255, 255);
					padding: 5px;
					border-radius: 8px;
					margin-right: 8px;
				}
			}

		}
	}
}
