.SectionJoinus {
	.banner {
		.BannerContent {
			position: relative;
			width: 100%;
			text-align: center;

			.text {
				color: #fff;
				background: rgb(0, 0, 0);
				background: linear-gradient(90deg, rgba(0, 0, 0, 0.09845945214023111) 3%, rgba(0, 0, 0, 0.6) 21%, rgba(0, 0, 0, 0.6) 48%, rgba(0, 0, 0, 0.6) 77%, rgba(0, 0, 0, 0.08725497034751406) 94%);
				max-width: 550px;
				position: absolute;
				width: 100%;
				top: 30%;
                padding: 10px;
                @media only screen and (max-width: 768px) {
                    background: rgb(93, 93, 93) !important;
                    position: relative;
                    top: 0;
                    max-width: 100%;
                }
			}
		}
        .selects {
            text-align: center;
            padding: 15px;
            background-image: linear-gradient(#FEFEFE, #CED0D1);
            margin: 15px 0;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
            border-radius: 5px;
            
            &:hover {
                background-image: linear-gradient(#CED0D1, #FEFEFE);
            }
            img {
                height: 210px;
                object-fit: contain;
                @media only screen and (max-width: 768px) {
                    height: 90px;
                }
            }
            span {
                color: #000;
                font-size: 24px;
            }
        }
        .text-edit {
            @media only screen and (max-width: 768px) {
                height: 100%;
            }
        }
	}
}
