.SectionProduct {

	.SubCatgory {
		background: #F2B242;
		padding: 5px 3%;

		.box {
			.s1 {
				font-size: 25px !important;
			}
			@media only screen and (max-width: 768px) {
				padding-left: 10px;
			}
			span {
				color: #000;
				font-size: 19px;
				margin-right: 8px;

				&.s2 {
					&:before {
						content: ">";
						margin-right: 8px;
					}
				}
			}
		}
	}

	.MenuSite {
		&.box {
			max-width: 100%;
			padding: 18px 0;

			.blog {
				position: relative;
				padding: 5px;
				margin-bottom: 10px;
				border-radius: 10px;
				box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
				color: #58585B;
				background-image: linear-gradient(#FEFEFE, #CED0D1);
				// border: 1.2px solid #7F8183;
				font-size: 25px;

				&:hover {
					box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
					background-image: linear-gradient(#FEFEFE, #B9C4E4);
				}

				img {
					float: left;
					margin-top: -2px;
					margin-left: -2px;
					width: 45px;
					height: 40px;
					object-fit: contain;
					background: rgb(255, 255, 255);
					padding: 5px;
					border-radius: 8px;
					margin-right: 8px;
				}
			}

		}
	}

	#SubMenuSite {
		padding-left: 15%;

		.blog {
			min-height: 46px;
			position: relative;
			padding: 5px;
			margin-bottom: 10px;
			border-radius: 10px;
			box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
			color: #58585B;
			background-image: linear-gradient(#FEFEFE, #CED0D1);
			// border: 1.2px solid #7F8183;
			font-size: 18px;
			line-height: 1;

			&:hover {
				box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
				background-image: linear-gradient(#FEFEFE, #B9C4E4);
			}

			img {
				float: left;
				margin-top: -2px;
				margin-left: -2px;
				width: 45px;
				height: 40px;
				object-fit: contain;
				background: rgb(255, 255, 255);
				padding: 5px;
				border-radius: 8px;
				margin-right: 8px;
			}
		}
	}

	.ProductList {
		float: left;
		margin: 18px 0;

		.text-edit {
			img {
				@media only screen and (max-width: 768px) {
					width: 100% !important;
				}
			}
		}

		.box {
			width: 33%;
			float: left;
			border: 1px solid #B9BABC;
			@media only screen and (max-width: 768px) {
				width: 100%;
			}

			.img {
				text-align: center;
				padding: 15px;

				img {
					height: 300px;
					object-fit: contain;

					@media only screen and (max-width: 768px) {
						height: 125px;
					}
				}
			}

			.text {
				position: relative;
				padding: 10px;
				color: #000;
				background-image: linear-gradient(#FEFEFE, #AEDDF7);
				min-height: 75px;
				@media only screen and (max-width: 768px) {
					height: auto;
					float: right;
					width: 100%;
				}

				p {
					margin: 0;
				}

				img {
					float: right;
					width: 35px;
					position: absolute;
					top: 25px;
					right: 8px;

					@media only screen and (max-width: 768px) {
						position: relative;
						top: 0;
					}
				}
			}
		}

		.AllButton {
			text-align: right;
			margin-top: 15px;

			.blog {
				display: inline-grid;
				text-align: center;
				width: 245px;
				padding: 18px;
				margin-bottom: 10px;
				margin-right: 10px;
				border-radius: 10px;
				box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
				color: RGB(88, 88, 91);
				background-image: linear-gradient(RGB(254, 254, 254), RGB(206, 208, 209));
				font-size: 30px;
				line-height: 1;
				position: relative;

				@media only screen and (max-width: 768px) {
					width: 120px;
					font-size: 15px;
				}

				&.download {
					background-image: linear-gradient(RGB(254, 254, 254), #F2B242);
				}

				&:hover {
					box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
					background-image: linear-gradient(#FEFEFE, #B9C4E4);
				}

				img {
					position: absolute;
					left: 8px;
					top: 14px;
					width: 38px;
					object-fit: contain;
					padding: 5px;
					margin-right: 8px;
					@media only screen and (max-width: 768px) {
						width: 25px;
						left: 0px;
						top: 12px;
					}
				}
			}

			.img {
				width: 40px;
				margin-top: -1%;
			}
		}
	}
}
