.SectionQuotation {
    form {
        .label {
            font-size: 22px;
            text-align: right;
        }
        button {
            font-size: 22px;
            border: 1px solid #58585B;
            border-radius: 0px;
            color: #58585B;
        }
    }
}