[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
	border: 2px solid #ff5722;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
	background-color: #ff5722;
	z-index: 0;
}
.form-group label.error-dup {
	font-size: 12px;
	display: block;
	margin-top: 5px;
	font-weight: normal;
	color: #F44336;
}

.note-editor .btn:not(.btn-link):not(.btn-circle) i {
	font-size: 13px;
}
.note-editor .btn-default{
    color: #212529;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}
.note-toolbar {
    z-index: 9;
}
